<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Listado de peliculas Recomendadas</h1>
    <ul>
       <% moviesRecommended.forEach(movie => { %>
        <li><a href="/movies/detail/<%= movie.id %> ">  <%= movie.title %></a> </li>
     <% }) %>
    </ul>

</body>
</html>